{% extends "base.html" %}
{% load static %}

{% block 'title' %}Cadastrar médico{% endblock 'title' %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'geral/css/geral.css' %}">
    <link rel="stylesheet" href="{% static 'geral/css/header.css' %}">
    <link rel="stylesheet" href="{% static 'usuarios/css/usuarios.css' %}">
    <link rel="stylesheet" href="{% static 'plataforma/css/plataforma.css' %}">
    <link rel="stylesheet" href="{% static 'medicos/css/medicos.css' %}">
{% endblock 'head' %}

{% block 'body' %}

<div class="container inter">
    <div class="w-75 mt-5 ms-5">
        <p class="fw-700 fs-25 mb-2">Olá, <span class="color-dark">{{request.user.username.capitalize}}</span>.</p>
        <p class="fw-700 fs-25 mb-2">Vamos realizar seu cadastro médico legal.</p>
        <hr class="mt-2 mb-4">
        {% include "partials/messages.html" %}
        <form action="{% url 'cadastro_medico' %}" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="">CRM:</label>
                    <input type="text" class="form-control shadow-main-color" name="crm" placeholder="CRM..." value="{{crm}}" autofocus>
                </div>
                <div class="col-md mb-3">
                    <label for="">Cédula de identidade médica:</label>
                    <input type="file" name="cim" class="form-control shadow-main-color">
                </div>
            </div>
            <div class="row">
                <div class="col-md-9 mb-3">
                    <label for="">Nome completo:</label>
                    <input type="text" class="form-control shadow-main-color" name="nome" placeholder="Digite seu nome ..." value="{{nome}}">
                </div>
                <div class="col-md mb-3">
                    <label for="">CEP</label>
                    <input type="text" name="cep"  id="cep" class="form-control shadow-main-color" maxlength="8" value="{{cep}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 mb-3">
                    <label for="">Logradouro</label>
                    <input type="text" name="logradouro" class="form-control shadow-main-color" placeholder="Endereço ..." value="{{logradouro}}">
                </div>
                <div class="col-md mb-3">
                    <label for="">Número:</label>
                    <input type="number" name="numero" class="form-control shadow-main-color" value="{{numero}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md mb-3">
                    <label for="">Bairro:</label>
                    <input type="text" class="form-control shadow-main-color" name="bairro" placeholder="Bairro ..." value="{{bairro}}">
                </div>
                <div class="col-md mb-3">
                    <label for="">Cidade:</label>
                    <input type="text" class="form-control shadow-main-color" name="cidade" placeholder="Cidade ..." value="{{cidade}}">
                </div>
                <div class="col-md-2 mb-3">
                    <label for="">UF:</label>
                    <input type="text" class="form-control shadow-main-color" name="uf" placeholder="UF ..." value="{{uf}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="">CNH/RG:</label>
                <input type="file" name="rg" class="form-control shadow-main-color">
            </div>
            <div class="mb-3">
                <label for="">Foto de perfil:</label>
                <input type="file" name="foto" class="form-control shadow-main-color">
            </div>
            <div class="row">
                <div class="col-md mb-3">
                    <label for="">Especialidade médica:</label>
                    <select name="especialidade" class="form-select">
                        <option value="">- - -</option>
                        {% for especialidade in especialidades %}
                            <option value="{{especialidade.id}}" 
                                {% if especialidade.id == especialidade_medica %} selected {% endif %}>
                                {{especialidade.nome}}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class=" col-md mb-3">
                    <label for="">Valor consulta:</label>
                    <input type="number" step="0.5" name="valor_consulta" class="form-control shadow-main-color" value="{{valor_consulta}}">
                </div>
            </div>
            <div class="mb-3">
                <label for="">Descrição:</label>
                <textarea name="descricao" class="form-control shadow-main-color">{{descricao}}</textarea>
            </div>

            <input type="submit" value="Cadastre-se" class="btn-cadastro my-3">
        </form>
    </div>
</div>

<script src="{% static 'medicos/js/cep.js' %}"></script>

{% endblock 'body' %}