.doc {
    padding-left: 0;
    list-style: none;
}

.doc li {
    margin-bottom: 1rem;
}

.doc a {
    background-color: #ebeaea;
    border-radius: .5rem;
    color: #000000B2;
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    width: 100%;
}