{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link href="{% static 'geral/css/geral.css' %}" rel="stylesheet">
    <link href="{% static 'usuarios/css/usuarios.css' %}" rel="stylesheet">
{% endblock 'head' %}


{% block 'body' %}

    <div class="container-fluid">
        <section class="w-50">
            <div class="box-titulo">
                <div class="box-titulo-item">
                    <img src="{% static 'geral/img/logo.png' %}" alt="logo">
                </div>
                <div class="box-titulo-item">
                    <h3 class="jura-400 fs-40">healing</h3>
                </div>
            </div>
            <hr class="divisor">
            <div class="content">
                {% block 'content-form' %}{% endblock 'content-form' %}
            </div>
        </section>                
        <aside class="w-50 bg-main">
            <div class="box-titulo-item">
                <img src="{% static 'usuarios/img/ilustracao.png' %}" alt="Ilustração de uma equipe médica">
            </div>
        </aside>
    </div>

{% endblock 'body' %}