.inter {
    font-family: "Inter", sans-serif;
}

.jura-400 {
    font-family: "Jura", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-18 {
    font-size: 18px;
}

.fs-25 {
    font-size: 25px;
}

.fs-30 {
    font-size: 30px;
}

.fs-40 {
    font-size: 40px;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.py-12 {
    padding: 12px auto;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-70 {
    width: 70%;
}

.w-80 {
    width: 80%;
}

.hide {
    display: none;
}

.data {
    width: 124px;
}

.bg-color-dark {
    background-color: var(--main-color);
}

.color-dark {
    color: var(--dark-color);
}

.color-main {
    color: var(--main-color);
}

.bi-asterisk {
    color: red;
    font-size: 8px;
}

.form-label,
form label {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0;
}

.form-control:focus,
.form-select:focus {
    border-color: var(--main-color);
    box-shadow: 2px 2px 2px 2px #00ccbe44;
}

.img-perfil {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}
